{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clothes list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clothe in clothes %}
            <tr>
                <td><a href="{{ path('clothe_show', { 'id': clothe.id }) }}">{{ clothe.id }}</a></td>
                <td>{{ clothe.label }}</td>
                <td>{{ clothe.price }}</td>
                <td>{{ clothe.currency }}</td>
                <td>{{ clothe.stock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clothe_show', { 'id': clothe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clothe_edit', { 'id': clothe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clothe_new') }}">Create a new clothe</a>
        </li>
    </ul>
{% endblock %}
