{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clothe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clothe.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ clothe.label }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ clothe.price }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ clothe.currency }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ clothe.stock }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clothe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clothe_edit', { 'id': clothe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
